.navbar
{
    margin: 0px !important;
    padding: 0px !important;
   position: fixed !important;
   width: 100%;
}
.container-fluid img
{
 width: 180px;
 margin-right: 20px;
 
}
.navigation
{
    background-color: rgb(85, 84, 84) !important;
    padding: 8px !important;
    
    
    
}
.container-fluid a{
    color: white !important;
}
.back
{
    margin: 0px !important;
    padding: 0px !important;
}
.back .background
{
    background-image: url(file:///C:/Users/Taher%20Ahmed/Desktop/Portfolio/images/background.png);
    background-position: right;
    background-position-y: bottom;
    background-repeat: no-repeat;
    width: auto;
    height: 620px;
    background-color: black;
    

}
.nav-link
{
    font-weight: bold !important;
}
.nav-link:hover
{
    color: cyan !important;
}
.back .background .text p
{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    
    
}
.back .background .text p span
{
    color: aqua;
}
.text
{
    padding-top: 180px;
    padding-left: 50px;
}
.back .background .text h1
{
    color: white !important;
    margin-right: 30px;
}
.desc
{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    
}
.desc .flag img
{
    width: 24px !important;
    margin-left: 15px;
    float: left;
}
.loc2
{
    float: left;
    
}
.orange
{
    color: orange !important;
}
.green  
{
    color: green !important;
}
.profile    
{
    margin: 40px;
    display: flex;
    justify-content: center;
    

}
.profile img
{
    border-radius: 10px;
    width: 300px;
    cursor: pointer;
    
}
.profile img:hover
{
    box-shadow: 2px 2px 5px black;
}
.content
{
    margin: 40px;
}


.tab-titles
{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links
{
    margin-right: 50px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
}
.tab-links::after
{
    content: '';
    width: 0;
    height: 3px;
    background-color: aqua;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;

}
.tab-links.active-link::after
{
    width: 50%;

}
.tab-contents ul li
{
    
    margin: 10px 0;
    color: white;
    font-weight: bold;
    font-size: 14px;

}

.tab-contents dd
{
    color:aqua;
    font-weight: bold;
   
}
.tab-contents
{
    display: none;
}
.tab-contents.active-tab
{
    display: block;
}
.about
{
    background-color: rgb(85, 84, 84);
}
.abt
{
    color: white !important;
    font-weight: bold;
}
.abt-heading
{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding-bottom: 2px;
    
}
.underline
{
    color: aqua !important;
    margin-top: 0px;
    
}
.cards
{
    background-color: rgb(85, 84, 84);
}
.card
{
    margin: auto;
    margin-bottom: 10px;
}
.ach-heading
{
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    margin-bottom: 20px;
}
.card a img
{
    width: 19rem;
}

